<template>
    <div class="container">
        <h1>Summaries</h1>
        <div v-for="(summary,index) in JsonData" :key="'periods_'+index">
            <template v-if="index<JsonData.length-1">
                <h3>Summary {{ index+1 }}</h3>
                <ul :set="n = 0">
                    <li v-for="(itemizedData,sIndex) in summary.itemized" :key="'summary_'+sIndex" :set="n = n + 1">
                       <code>
                            <template v-if="n<=20">{{ sIndex }}</template>
                        </code>
                    </li>
                </ul>
                <hr />
            </template>
        </div>
    </div>
</template>
<script>
import JsonData from '@/assets/data.json';

export default {
    name: 'HelloWorld',
    data(){
        return {
            JsonData:{}
        }
    },
    mounted(){
        this.JsonData = JsonData.periods;
    }
};
</script>

<style scoped>
.container {
    max-width: 1140px;
    padding: 15px;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    background: rgba(0,0,0,0.1)
}
h3 {
    margin: 40px 0 0 0;
    text-align: left;
}
ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}
li {
    margin: 0 10px;
}
a {
    color: #42b983;
}
</style>
